/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ROOT */
#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER PRINCIPAL DO LOGIN */
.bodyPerfil {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle,
            #149480 0%,
            #107464 25%,
            #0e6d5e 50%,
            #0e6d5e 75%,
            #11322d 100%);
    position: relative;
    z-index: 1;
}

/* BOTÃO VOLTAR */
.backtoStartImg {
    position: fixed;
    top: -2rem;
    left: 3rem;
    background-image: url(../assets/backtoinicio-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 150px;
    z-index: 2;
}

/* FORMULÁRIO */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e6d5e;
    border-radius: 10px;
    padding: 1rem 3rem;
    width: max-content;
    z-index: 1;
}

/* CAMPOS DE ENTRADA */
.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 100%;
    max-width: 300px;
}

.input-container label {
    position: absolute;
    top: -10px;
    left: 12px;
    font-size: 1rem;
    padding: 0 5px;
    color: white;
}

input {
    background-color: #b4bfbd;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 1rem 0;
    transition: border 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

input:hover {
    border: 2px solid #006354;
    transform: scale(1.1);
    box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.3);
}

/* BOTÃO */
button {
    margin-top: 1rem;
    padding: 0.7rem 6rem;
    border: none;
    border-radius: 10px;
    background-color: #b4bfbd;
    transition: border 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 1;
}

button:hover {
    border: 2px solid #006354;
    transform: scale(1.1);
    box-shadow: 4px 12px 10px rgba(0, 0, 0, 0.5);
}

/* TEXTOS */
label,
h1,
h2 {
    color: white;
}

h1 {
    padding-bottom: 1.5rem;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 15px;
    padding-top: 0.8rem;
}

.perfil-container {
  background-color: #006c58;
  border: none;
  border-radius: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  text-align: center;
  align-items: center;
  color: white;
}

.perfil-header {
  width: inherit;
  background-color: #1e1e1e;
  background-image: url('../assets/backgroundPhotoPerfil.png');
  background-size: cover;
  border-radius: 15px;
  padding: 20px 10px;
}

.foto-perfil {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 10px;
}

.perfil-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 5rem;
}

.coluna {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

label {
  font-size: 0.8rem;
  margin-bottom: 4px;
  color: #d0d0d0;
}

.campo {
  background-color: #c0d6ce;
  color: black;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

.sair {
  background-color: #c0cdcb;
  color: #31a290;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  margin: 1rem 0;
}